<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header class="jumbotron">
            <nav>
                <a href="{{ path('accueil') }}" class="btn btn-primary">Accueil</a>
                <a href="{{ path('article') }}" class="btn btn-primary">Article</a>
                {# Les accolades dans le href du lien servent à envoyer le chemin du lien#}

            </nav>
        </header>
        {% block body %}{% endblock %}
        <footer class="d-flex justify-content-center my-5 jumbotron">
            &copy; 2020 - Manpouss
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
